@model Scuba_Dive_Log.Models.Dive

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dive</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiveSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiveSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiveBuddy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiveBuddy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiveType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiveTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiveTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
