@model Scuba_Dive_Log.Models.Dive

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dive</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiveSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiveSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiveBuddy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiveBuddy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiveType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiveTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiveTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterType)
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterType)
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyOfWater)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyOfWater)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weather)
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weather)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterTemperature)
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterTemperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visibility)
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visibility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Waves)
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Waves)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Current)
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Current)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surge)
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuitType)
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuitType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weighting)
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weighting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CylinderType)
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CylinderType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
