@model IEnumerable<Scuba_Dive_Log.Models.Dive>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiveSite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiveBuddy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDepth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiveTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BodyOfWater)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weather)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterTemperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Waves)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Current)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuitType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weighting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CylinderType)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiveSite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiveBuddy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxDepth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiveTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyOfWater)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weather)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterTemperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Waves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Current)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuitType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weighting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CylinderType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
